body {
	padding: 0; 
	margin: 0; 
	text-align: center;
	background: #000000;
}
#clientLayer{
	position:absolute;
	top:50%;
	left:50%;
	margin-top: -332px; 
	margin-left: -525px;
	margin-bottom: auto;
	margin-right: auto;
}
#sideBarLayer{
	position:absolute;
	top:50%;
	left:50%;
	margin-top: -332px; 
	margin-left: -585px;
	margin-bottom: auto;
	margin-right: auto;
}

.hide {
    display:block;
    height:0;
    width:0;
    border:none;
    visibility:hidden;
}

.btn {
 PADDING-RIGHT: 2px; 
 PADDING-LEFT: 2px; 
 FONT-SIZE: 12px;  
 CURSOR: hand; 
 COLOR: black; 
 PADDING-TOP: 2px; 
 POSITION: absolute;
 top:50%;
 left:50%;
 margin-top:-332px;
 margin-left:525px;
}

#blockingTips{
	width: 1050px;
	height: 665px;
	background-image: url(../wd-bg.jpg);
}

#wdDL{
	width: 148px;
	height: 43px;
	POSITION: absolute;
	top:460px;
	left:245px;
	background-image: url(../1-an.png);
	border-style: none;
	background-color:transparent;
	cursor: pointer;
}

#sgDL{
	width: 148px;
	height: 43px;
	POSITION: absolute;
	top:460px;
	left:358px;
	background-image: url(../2-an.png);
	border-style: none;
	background-color:transparent;
	cursor: pointer;
}

#openWD{
	width: 261px;
	height: 84px;
	POSITION: absolute;
	top:350px;
	left:610px;
	background-image: url(../3-an.png);
	border-style: none;
	background-color:transparent;
	cursor: pointer;
}

#intro{
	width: 380px;
	height: 110px;
	POSITION: absolute;
	top:510px;
	left:140px;
	color: #FFF;
	text-align: left;
	font-size: 12px;
}

#tips{
	width: 290px;
	height: 210px;
	POSITION: absolute;
	top:460px;
	left:620px;
	color: #FFF;
	text-align: left;
	font-size: 12px;
}
